.topbox {
    height : 300px;
    border : solid;
    padding : 10px;
}
.logo{
    float : left;
    width : 120px;
    height: 20px;
    border : solid;
    margin : 10px;
    padding-top: 10px;
    padding-bottom:10px;
}
.login{
    float : right;
    width : 120px;
    height: 20px;
    border : solid;
    margin : 10px;
    padding-top: 10px;
    padding-bottom:10px;
}
.Search{
    border : solid;
    margin : 150px;
    padding-top: 10px;
    padding-bottom:10px;
}
.bottombox{
    height : 650px;
    border : solid;
}
.notice{
    border : solid;
}
.notice{
    margin : 10px;
    height : 300px;
    border : solid;
}
.BookRecommend{
    margin : 10px;
    height : 300px;
    border : solid;
}
.address{
    text-align: center;
}