.topbox {
<<<<<<< HEAD
    height : 300px;
    border : solid;
    padding : 10px;
}
.logo{
    float : left;
    width : 120px;
    height: 20px;
    border : solid;
    margin : 10px;
    padding-top: 10px;
    padding-bottom:10px;
}
.login{
    float : right;
    width : 120px;
    height: 20px;
    border : solid;
    margin : 10px;
    padding-top: 10px;
    padding-bottom:10px;
}
.Search{
    border : solid;
    margin : 150px;
    padding-top: 10px;
    padding-bottom:10px;
}
.bottombox{
    height : 650px;
    border : solid;
}
.notice{
    border : solid;
}
.notice{
    margin : 10px;
    height : 300px;
    border : solid;
}
.BookRecommend{
    margin : 10px;
    height : 300px;
    border : solid;
}
.address{
=======
    height: 300px;
    border: solid;
    padding: 10px;
}

.logo {
    float: left;
    width: 120px;
    height: 20px;
    border: solid;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login {
    float: right;
    width: 120px;
    height: 20px;
    border: solid;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Search {

    margin: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search {
    padding-top: 50px;
    display: flex;
    height: 100px;
}

.search input {
    width: 1500px;
    height: 30px;
    font-size: 18px;
    border: solid;
}

.search button {
    width: 170px;
    font-size: 18px;
    border: solid;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}
.bottombox {
    height: 600px;
    border: solid;
}

.notice {
    border: solid;
    margin: 10px;
    height: 250px;
}

.BookRecommend {
    margin: 10px;
    height: 250px;
    border: solid;
}

.address {
>>>>>>> minseok
    text-align: center;
}