<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 페이지</title>

    <style>
        .logo {
            display: flex;
            align-items: flex-start;
        }

        .view {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 200px;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>

<div class="logo">
    <a href="/">
        <img src="images/koreatech.png" alt="홈페이지 로고">
    </a>
</div>

<div class="view">
    <img src="images/ga.png" alt="책 이미지">
    <h2>책 제목 : 위대한 개츠비</h2>
    <p>책 위치 : 다산 어딘가</p>
</div>

</body>
</html>
