<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="notice.css">
    <title>공지사항</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>공지사항 목록</h1>
        </header>
        <div class="search-container">
        <label for="search">검색:</label>
        <input type="text" id="search" placeholder="제목 또는 작성자를 검색하세요">
        </div>
        <main>
          <section class="notice">
            <div class="notice-text">공지사항1</div>
            <div class="author">작성자1</div>
           </section>
          <section class="notice">
            <div class="notice-text">공지사항2</div>
            <div class="author">작성자2</div>
           </section>
          <section class="notice">
            <div class="notice-text">공지사항3</div>
            <div class="author">작성자3</div>
           </section>
          <section class="notice">
            <div class="notice-text">공지사항4</div>
            <div class="author">작성자4</div>
           </section>
          <section class="notice">
            <div class="notice-text">공지사항5</div>
            <div class="author">작성자5</div>
           </section>
          <section class="notice">
            <div class="notice-text">공지사항6</div>
            <div class="author">작성자6</div>
           </section>
          <section class="notice">
            <div class="notice-text">공지사항7</div>
            <div class="author">작성자7</div>
           </section>
          <section class="notice">
            <div class="notice-text">공지사항8</div>
            <div class="author">작성자8</div>
           </section>
          <section class="notice">
            <div class="notice-text">공지사항9</div>
            <div class="author">작성자9</div>
           </section>
          <section class="notice">
            <div class="notice-text">공지사항10</div>
            <div class="author">작성자10</div>
           </section>
        </main>
        <div class="pagination">
            <a href="#"><</a> <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a>
            <a href="#">6</a> <a href="#">7</a> <a href="#">8</a> <a href="#">9</a> <a href="#">10</a> <a href="#">></a>
        </div>
        <footer>
            <p class="address">31253 충청남도 천안시 동남구 병천면 충절로 1600 (가전리, 한국기술교육대학교)
            COPYRIGHT 2017 KOREATECH. ALL RIGHTS RESERVED.</p>
        </footer>
    </div>
    <script src="scripts.js"></script>
</body>
</html>